.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.banance {
    padding: 5px;
    font-size: 30px;
}
.Filter {
    padding-left: 20px;
    font-size: 25px;
    }
.collection {
    display: flex;
    justify-content: flex-start;
}
.collection p {
    margin-left: 25px;
}

.click:hover {
    color: orange;
    cursor: pointer;
}

.MainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


img {
    height: 245px;
    cursor: pointer;
}

.Item {
    padding: 20px 0px 20px 0px;
    margin: 20px;
}

.name {
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
    justify-content: space-between;
}
